<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>

</head>

<body>
<div class="login">
    <h1>Thyroid Prediction</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
        <input type="text" name="age" placeholder="age" required="required" /><br>
        <label>
			sex:
			<input type="radio" name="sex" value="1">
			Male
			<input type="radio" name="sex" value="0">
			Female
		</label>
		<br>
		<label>
			on thyroxine:
			<input type="radio" name="on_thyroxine" value="1">
			True
			<input type="radio" name="on_thyroxine" value="0">
			False
		</label>
		<br>
		<label>
			query on thyroxine:
			<input type="radio" name="query_on_thyroxine" value="1">
			True
			<input type="radio" name="query_on_thyroxine" value="0">
			False
		</label>
		<br>
		<label>
			on antithyroid medication:
			<input type="radio" name="on_antithyroid_medication" value="1">
			True
			<input type="radio" name="on_antithyroid_medication" value="0">
			False
		</label>
		<br>
		<label>
			sick:
			<input type="radio" name="sick" value="1">
			True
			<input type="radio" name="sick" value="0">
			False
		</label>
		<br>
		<label>
			pregnant:
			<input type="radio" name="pregnant" value="1">
			True
			<input type="radio" name="pregnant" value="0">
			False
		</label>
		<br>
		<label>
			thyroid surgery:
			<input type="radio" name="thyroid_surgery" value="1">
			True
			<input type="radio" name="thyroid_surgery" value="0">
			False
		</label>
		<br>
		<label>
			I131 treatment:
			<input type="radio" name="I131_treatment" value="1">
			True
			<input type="radio" name="I131_treatment" value="0">
			False
		</label>
		<br>
		<label>
			query hypothyroid:
			<input type="radio" name="query_hypothyroid" value="1">
			True
			<input type="radio" name="query_hypothyroid" value="0">
			False
		</label>
		<br>
		<label>
			query hyperthyroid:
			<input type="radio" name="query_hyperthyroid" value="1">
			True
			<input type="radio" name="query_hyperthyroid" value="0">
			False
		</label>
		<br>
        <label>
			lithium:
			<input type="radio" name="lithium" value="1">
			True
			<input type="radio" name="lithium" value="0">
			False
		</label>
		<br>
        <label>
			goitre:
			<input type="radio" name="goitre" value="1">
			True
			<input type="radio" name="goitre" value="0">
			False
		</label>
		<br>
        <label>
			tumor:
			<input type="radio" name="tumor" value="1">
			True
			<input type="radio" name="tumor" value="0">
			False
		</label>
		<br>
        <label>
			hypopituitary:
			<input type="radio" name="hypopituitary" value="1">
			True
			<input type="radio" name="hypopituitary" value="0">
			False
		</label>
		<br>
        <label>
			psych:
			<input type="radio" name="psych" value="1">
			True
			<input type="radio" name="psych" value="0">
			False
		</label>
		<br>
    	<input type="text" name="TSH" placeholder="TSH" required="required" /><br>
        <input type="text" name="T3" placeholder="T3" required="required" /><br>
        <input type="text" name="TT4" placeholder="TT4" required="required" /><br>
        <input type="text" name="T4U" placeholder="T4U" required="required" /><br>
        


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
<body>

   <br>
   <br>


 </div>
 {{result}}

</body>
</html>